
.App{
    min-height: 100vh;
    width: 100%;
}


.landpage-background{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 850px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    background-image: url("./assets/ottoman.webp");
    box-shadow: inset 133px 133px 159px -55px rgba(0,0,0,0.94);

    
}